.sideBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  color: black;
  position: absolute;
  display: none;
}
@media (max-width: 768px){
   .sideBar{
      display: flex;
  }
}

.bg {
    position: fixed;
    top: 0;
    z-index: 999;
    left: 0;
    bottom: 0;
    width: 400px;
    height: 100vh;
    background-color: #fff;
}
   
.links {
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 20px;
      z-index: 3;
    }
      
.links a {
        font-size: 38px;
        font-style: none;
        text-decoration: none;
      }
    
  

.linksButton {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: fixed;
    top: 25px;
    left: 25px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    z-index: 999;
  }

.toggle {
    transition: 0.3;
  }

